<div class="container">
  <h1>Stupid coaching</h1>

  <div class="callout" border-left-color="grey">
    <p> Your question : <%= @question %> </p>
    <p> Coach answer : <%= @answer %></p>
  </div>

  <%= link_to "Ask another question", ask_path %>
</div>
